.box {
    height: 10px;
    width: 200px;
    margin: 25px 200px 25px 200px;
    padding: 50px;
    background-color: red;
    border-radius: 20px;

}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

a:hover {
    border-bottom: 2px solid #deab5f;
}

